name: Titan Core v3.0 - The Communicator

on:
  workflow_dispatch:

jobs:
  hunt:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: ${{ fromJson(needs.read_config.outputs.targets_json) }}
    needs: read_config
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: { python-version: '3.10' }
      - run: pip install requests
      - name: Install Titan's Arsenal
        run: |
          go install -v github.com/projectdiscovery/subfinder/v2/cmd/subfinder@latest
          go install -v github.com/projectdiscovery/httpx/cmd/httpx@latest
          echo "$HOME/go/bin" >> $GITHUB_PATH
      - name: Execute Module [recon/web_basic]
        run: |
          chmod +x modules/recon/web_basic.sh
          ./modules/recon/web_basic.sh ${{ matrix.target }}
      - name: Report to Command Center
        if: always()
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: python core/reporter.py ${{ matrix.target }}

  read_config:
    runs-on: ubuntu-latest
    outputs:
      targets_json: ${{ steps.read_targets_file.outputs.targets_json }}
    steps:
      - uses: actions/checkout@v4
      - id: read_targets_file
        run: |
          targets_json=$(jq -R -s -c 'split("\n") | map(select(length > 0))' config/targets.txt)
          echo "targets_json=$targets_json" >> $GITHUB_OUTPUT
